{
  "log": {
    "_recordingName": "fetchUserDetailsShouldCollectData",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "ecbe06cf531ef35346c36f956a805d60",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://console.runzero.com/api/v1.0/account/orgs"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 3027,
            "text": "[{\"id\":\"dc2f89e1-f698-43cd-b40f-bcfd59b7c006\",\"created_at\":1644261959,\"created_by\":\"matthew.zember@jupiterone.com\",\"updated_at\":1645735452,\"client_id\":\"a72b7a35-d1d0-4aec-890f-7c8d8a580cf4\",\"download_token\":\"[REDACTED]\",\"download_token_created_at\":1644265342,\"demo\":false,\"project\":false,\"parent_id\":\"e4d3fbeb-5158-4d7b-b203-a87f2c3dd7cb\",\"name\":\"JupiterOneSubOrg\",\"description\":\"\",\"inactive\":false,\"deactivated_at\":0,\"service_count\":0,\"service_count_tcp\":0,\"service_count_udp\":0,\"service_count_arp\":0,\"service_count_icmp\":0,\"asset_count\":0,\"live_asset_count\":0,\"recent_asset_count\":0,\"software_count\":0,\"vulnerability_count\":0,\"export_token\":\"\",\"export_token_created_at\":0,\"export_token_last_used_at\":0,\"export_token_last_used_by\":\"\",\"export_token_counter\":0,\"expiration_assets_stale\":5,\"expiration_assets_offline\":5,\"expiration_scans\":365,\"expiration_warning_last_sent\":0},{\"id\":\"e4d3fbeb-5158-4d7b-b203-a87f2c3dd7cb\",\"created_at\":1642795485,\"created_by\":\"\",\"updated_at\":1645812644,\"client_id\":\"a72b7a35-d1d0-4aec-890f-7c8d8a580cf4\",\"download_token\":\"[REDACTED]\",\"download_token_created_at\":1642795485,\"demo\":false,\"project\":false,\"parent_id\":\"00000000-0000-0000-0000-000000000000\",\"name\":\"JupiterOne\",\"description\":null,\"inactive\":false,\"deactivated_at\":0,\"service_count\":0,\"service_count_tcp\":0,\"service_count_udp\":0,\"ser[...]
