{
  "log": {
    "_recordingName": "fetchAccountDetailsShouldCollectData",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "9c3db85d6e75c5c3727489be32972cdf",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://console.rumble.run/api/v1.0/account/orgs"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1810,
            "text": "[{\"id\":\"463fed64-54bf-4369-b4b4-86a039773470\",\"created_at\":1642795486,\"created_by\":\"\",\"updated_at\":1643048141,\"client_id\":\"a72b7a35-d1d0-4aec-890f-7c8d8a580cf4\",\"download_token\":\"[REDACTED]\",\"download_token_created_at\":1642795486,\"demo\":true,\"project\":false,\"parent_id\":\"00000000-0000-0000-0000-000000000000\",\"name\":\"Demo Organization\",\"description\":\"This is a demo organization populated using sample data from the Rumble Test Lab. This organization does not count against your license limits and may be removed as needed.\",\"inactive\":false,\"deactivated_at\":0,\"service_count\":380,\"service_count_tcp\":198,\"service_count_udp\":83,\"service_count_arp\":45,\"service_count_icmp\":50,\"asset_count\":52,\"export_token\":\"[REDACTED]\",\"export_token_created_at\":1643048141,\"export_token_last_used_at\":1643303542,\"export_token_last_used_by\":\"[REDACTED]\",\"export_token_counter\":2,\"expiration_assets_stale\":0,\"expiration_assets_offline\":0,\"expiration_scans\":0,\"expiration_warning_last_sent\":0},{\"id\":\"e4d3fbeb-5158-4d7b-b203-a87f2c3dd7cb\",\"created_at\":1642795485,\"created_by\":\"\",\"updated_at\":1642795485,\"client_id\":\"a72b7a35-d1d0-4aec-890f-7c8d8a580cf4\",\"download_token\":\"[REDACTED]\",\"download_token_created_at\":1642795485,\"demo\":false,\"project\":false,\"parent_id\":\"00000000-0000-0000-0000-000000000000\",\"name\":\"JupiterOne\",\"description\":null,\"inactive\":false,\"deactivated_at\":0,\"service_count\":0,\"service_count_tcp\":0,\"service_count_udp\":0,\"service_count_arp\":0,\"service_count_icmp\":0,\"asset_count\":0,\"export_token\":\"\",\"export_token_created_at\":0,\"export_token_last_used_at\":0,\"export_token_last_used_by\":\"\",\"export_token_counter\":0,\"expiration_assets_stale\":0,\"expiration_assets_offline\":0,\"expiration_scans\":365,\"expiration_warning_last_sent\":0}]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-api-usage-limit",
              "value": "5000"
            },
            {
              "name": "x-api-usage-remaining",
              "value": "4998"
            },
            {
              "name": "x-api-usage-today",
              "value": "2"
            },
            {
              "name": "x-api-usage-total",
              "value": "18"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 114,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
