{
  "log": {
    "_recordingName": "client-auth-error",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "63d6246173e109534a20ab144b779f3c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://console.rumble.run/api/v1.0/account/orgs"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 30,
            "text": "{\"error\":\"API Key Not Found\"}\n"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 89,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
