{
  "log": {
    "_recordingName": "buildSiteAssetRelationshipsShouldBuildRelationship",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "613abe1029d5a2d29100e0c94c335321",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://console.rumble.run/api/v1.0/account/sites"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 3440,
            "text": "[{\"id\":\"db5e723c-16b6-49d1-9fb9-3733f5f39ae8\",\"created_at\":1644331146,\"updated_at\":1645561808,\"client_id\":\"a72b7a35-d1d0-4aec-890f-7c8d8a580cf4\",\"organization_id\":\"dc2f89e1-f698-43cd-b40f-bcfd59b7c006\",\"name\":\"JupiterOneSubOrg Secondary Site\",\"description\":\"\",\"scope\":\"\",\"excludes\":\"\",\"inactive\":false,\"deactivated_at\":0,\"service_count\":0,\"service_count_tcp\":0,\"service_count_udp\":0,\"service_count_arp\":0,\"service_count_icmp\":0,\"asset_count\":0,\"live_asset_count\":0,\"recent_asset_count\":0,\"subnets\":{},\"asset_address_count\":0,\"asset_address_extra_count\":0,\"last_task_id\":\"00000000-0000-0000-0000-000000000000\",\"last_task_at\":0,\"last_task_by\":\"\",\"last_task_duration\":0},{\"id\":\"944ddf60-5378-4e78-b700-2a6d1339cbd8\",\"created_at\":1644261959,\"updated_at\":1645561795,\"client_id\":\"a72b7a35-d1d0-4aec-890f-7c8d8a580cf4\",\"organization_id\":\"dc2f89e1-f698-43cd-b40f-bcfd59b7c006\",\"name\":\"JupiterOneSubOrg Primary Site\",\"description\":\"\",\"scope\":\"\",\"excludes\":\"\",\"inactive\":false,\"deactivated_at\":0,\"service_count\":0,\"service_count_tcp\":0,\"service_count_udp\":0,\"service_count_arp\":0,\"service_count_icmp\":0,\"asset_count\":0,\"live_a[...]
