{
  "log": {
    "_recordingName": "fetchSiteDetailsExportTokens",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "08e818fdd43e769a90a834f136032ee6",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://console.runzero.com/api/v1.0/export/org/sites.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1451,
            "text": "[{\"id\":\"c9f0bc41-afdb-4053-945a-2a5333d1565a\",\"created_at\":1642795486,\"updated_at\":1642795486,\"client_id\":\"a72b7a35-d1d0-4aec-890f-7c8d8a580cf4\",\"organization_id\":\"463fed64-54bf-4369-b4b4-86a039773470\",\"name\":\"Corporate\",\"description\":null,\"scope\":null,\"excludes\":null,\"inactive\":false,\"deactivated_at\":0,\"service_count\":355,\"service_count_tcp\":185,\"service_count_udp\":76,\"service_count_arp\":45,\"service_count_icmp\":45,\"asset_count\":45,\"live_asset_count\":45,\"recent_asset_count\":0,\"software_count\":0,\"vulnerability_count\":0,\"subnets\":{},\"asset_address_count\":47,\"asset_address_extra_count\":12,\"last_task_id\":\"374cc0f8-ca77-40d8-96c8-b53d563e7880\",\"last_task_at\":0,\"last_task_by\":\"first.last@example.com\",\"last_task_duration\":0},{\"id\":\"1e8113cd-980a-4335-b925-965d456dde3c\",\"created_at\":1642795487,\"updated_at\":1642795487,\"client_id\":\"a72b7a35-d1d0-4aec-890f-7c8d8a580cf4\",\"organization_id\":\"463fed64-54bf-4369-b4b4-86a039773470\",\"name\":\"Building\",\"description\":null,\"scope\":null,\"excludes\":null,\"inactive\":false,\"deactivated_at\":0,\"service_count\":25,\"service_count_tcp\":13,\"service_count_udp\":7,\"service_count_arp\":0,\"service_count_icmp\":5,\"asset_count\":7,\"live_asset_count\":7,\"recent_asset_count\":0,\"software_count\":0,\"vulnerability_count\":0,\"subnets\":{},\"asset_address_count\":7,\"asset_address_extra_count\":0,\"last_task_id\":\"2e231887-ce91-43f9-93ce-c42b3adcf5ea\",\"last_task_at\":0,\"last_task_by\":\"first.last@example.com\",\"last_task_duration\":0}]"
          },
            {
              "expires": "2023-01-07T15:06:59.000Z",
              "name": "AWSALBCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "content-disposition",
              "value": "attachment; filename=sites-20221231150700-Demo_Organization.json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 325,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
