{
  "log": {
    "_recordingName": "validateInvocationAuthFailureExportToken",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "a9fff8d9a5c0cc92c696051efc438200",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://console.rumble.run/api/v1.0/export/org/sites.json"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 32,
            "text": "Invalid API Key for Organization"
          },
            {
              "expires": "2022-08-05T17:29:33.000Z",
              "name": "AWSALBCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "expires": "2022-08-05T17:29:33.000Z",
              "httpOnly": true,
              "maxAge": 604800,
              "name": "__Secure-RS",
              "path": "/",
              "sameSite": "Lax",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 219,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
