{
  "log": {
    "_recordingName": "validateInvocationAuthFailureExportToken",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "08e818fdd43e769a90a834f136032ee6",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://console.runzero.com/api/v1.0/export/org/sites.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 156,
            "text": "{\"provided_token_type\":\"\",\"possible_token_types\":[\"export\",\"organization\",\"client\"],\"error\":\"token is undefined or invalid: invalid export token length 0\"}\n"
          },
            {
              "expires": "2023-01-07T15:06:58.000Z",
              "name": "AWSALBCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "expires": "2023-01-07T15:06:58.000Z",
              "httpOnly": true,
              "maxAge": 604800,
              "name": "__Secure-RS",
              "path": "/",
              "sameSite": "Lax",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 169,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
