{
  "log": {
    "_recordingName": "buildAccountHasSiteRelationshipsExportToken",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "08e818fdd43e769a90a834f136032ee6",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://console.runzero.com/api/v1.0/export/org/sites.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 786,
            "text": "[{\"id\":\"54443f81-e3ba-464d-9572-1ad64614d6dd\",\"created_at\":1642796090,\"updated_at\":1645817377,\"client_id\":\"a72b7a35-d1d0-4aec-890f-7c8d8a580cf4\",\"organization_id\":\"e4d3fbeb-5158-4d7b-b203-a87f2c3dd7cb\",\"name\":\"JupiterOne Primary Site\",\"description\":\"\",\"scope\":\"\",\"excludes\":\"\",\"inactive\":false,\"deactivated_at\":0,\"service_count\":0,\"service_count_tcp\":0,\"service_count_udp\":0,\"service_count_arp\":0,\"service_count_icmp\":0,\"asset_count\":0,\"live_asset_count\":0,\"recent_asset_count\":0,\"software_count\":0,\"vulnerability_count\":0,\"subnets\":{\"0.0.0.0/32\":{\"description\":\"TestSubnet\"}},\"asset_address_count\":0,\"asset_address_extra_count\":0,\"last_task_id\":\"b7a4e122-339e-4a92-8509-3e89f4b9a7e3\",\"last_task_at\":1643884113,\"last_task_by\":\"first.last@example.com\",\"last_task_duration\":18106}]"
          },
            {
              "expires": "2023-01-02T05:02:01.000Z",
              "name": "AWSALBCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "content-disposition",
              "value": "attachment; filename=sites-20221226050201-JupiterOne.json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 215,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
